<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f184e0d-0f08-481d-ab98-18ada0845d58" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3d814ef4-6d20-4635-9ec0-e16e4b4fe311">contentPage2</Composition>
      <Composition Key="a8da155b-0621-4818-8b3b-992021833ddd">headerProperties</Composition>
      <Composition Key="929b9bb6-8b06-4a25-971c-4c4f76f674d5">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d009038-f0a2-46b3-9027-691299f3990c">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>