<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf390f0c-fad6-4cf7-be78-dc5dca8d3c0a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a8da155b-0621-4818-8b3b-992021833ddd">headerProperties</Composition>
      <Composition Key="9d8aedd5-83d5-452a-bd31-71e920d380de">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8941d559-bd81-458e-81d8-b302a691087b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f01957ac-67c9-440b-af21-333c7142463c" SortOrder="0">contentPage</ContentType>
    <ContentType Key="2f184e0d-0f08-481d-ab98-18ada0845d58" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="1b2b2c0c-c628-41e1-a10c-b8f0e59d3876" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>