<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="37f290a8-af1f-4bc7-b12d-6120082cf399" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Julian Gallo</Translation>
  </Translations>
</Dictionary>