<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c4077b7-d468-4ff7-aa34-cdae6d05b621" Alias="[Dropdown]Colours" Level="1">
  <Info>
    <Name>[Dropdown]Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Orange"
    },
    {
      "id": 3,
      "value": "Green"
    },
    {
      "id": 4,
      "value": "Black"
    },
    {
      "id": 5,
      "value": "White"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>