<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8d45d75-caf4-4fa4-8476-5a6854b13079" Alias="Navigation Item - Child Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Navigation Item - Child Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>