<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2b66921-0e23-4551-b0d1-b5affbaf2d3d" Alias="[Nested]Navigation Item List" Level="1">
  <Info>
    <Name>[Nested]Navigation Item List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>