<?xml version="1.0" encoding="utf-8"?>
<Media Key="f911ecf4-0328-4b61-b4e3-90ea9481b61d" Alias="Fox" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-19T21:17:13</CreateDate>
    <NodeName Default="Fox" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lwbd4ji/fox.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>