<?xml version="1.0" encoding="utf-8"?>
<Content Key="26b2eb63-cbfb-4c7f-baec-ea6db4a153f0" Alias="About" Level="2">
  <Info>
    <Parent Key="2842be8b-8b45-4d79-a315-b53ded1bc203">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-01-19T21:28:35</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e6c9f43-8cf1-44e2-9ffa-adfbdac1fa66">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/52c925c2a6ba4f3b858554686cbb4855"
      },
      {
        "contentUdi": "umb://element/73ed2a88a7b446e8b86ff4d42ef43ed1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "474c01c3-f517-4e0b-87e4-b34f37c521d5",
      "udi": "umb://element/52c925c2a6ba4f3b858554686cbb4855",
      "content": "<p>THIS IS ROW 1</p>"
    },
    {
      "contentTypeKey": "474c01c3-f517-4e0b-87e4-b34f37c521d5",
      "udi": "umb://element/73ed2a88a7b446e8b86ff4d42ef43ed1",
      "content": "<p>THIS IS ROW 2</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "3c1e14e6-54f8-46e7-a60f-2fde47d7729e",
    "mediaKey": "f911ecf4-0328-4b61-b4e3-90ea9481b61d"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This will tell you what you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>