<?xml version="1.0" encoding="utf-8"?>
<Content Key="c38d3830-3b4b-41ab-a9f4-26e0d972dac0" Alias="Blog" Level="2">
  <Info>
    <Parent Key="2842be8b-8b45-4d79-a315-b53ded1bc203">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-01-19T22:04:36</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3d009038-f0a2-46b3-9027-691299f3990c">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9272942c-7d7c-458d-84b4-e01fea134496",
    "mediaKey": "9c983210-75cc-4e67-9fdd-bfc4caa51453"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>