<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2bfdb8f-c1d7-44f9-883b-99316a8ef3d5" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2842be8b-8b45-4d79-a315-b53ded1bc203">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-01-19T22:04:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4bb81128-8d1f-4aec-a977-a0e0ea4ba97d">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "dd893263-9402-42de-9d4b-7184554db4d8",
    "mediaKey": "f911ecf4-0328-4b61-b4e3-90ea9481b61d"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>