<?xml version="1.0" encoding="utf-8"?>
<Content Key="2842be8b-8b45-4d79-a315-b53ded1bc203" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-01-18T21:34:28</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8941d559-bd81-458e-81d8-b302a691087b">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ea4f9705-766d-4266-b6dc-63db68cd35c8",
    "mediaKey": "9c983210-75cc-4e67-9fdd-bfc4caa51453"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "d0b38afd-b05e-4690-81df-013e43eaa60a",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/2842be8b8b454d79a315b53ded1bc203"
      }
    ],
    "childLinks": null
  },
  {
    "key": "42f02884-fbba-4d9a-9b87-df9a73b8ba29",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/26b2eb63cbfb4c7fbaecea6db4a153f0"
      }
    ],
    "childLinks": null
  },
  {
    "key": "14cbd4a0-f6a2-4419-bac6-23416ca6d164",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": [
      {
        "name": "Blog",
        "udi": "umb://document/c38d38303b4b41aba9f426e0d972dac0"
      }
    ],
    "childLinks": [
      {
        "name": "About Sub",
        "udi": "umb://document/26b2eb63cbfb4c7fbaecea6db4a153f0"
      },
      {
        "name": "Blog Sub",
        "udi": "umb://document/c38d38303b4b41aba9f426e0d972dac0"
      }
    ]
  },
  {
    "key": "a0f328ec-1211-4cb8-b479-ac1db3597abf",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/e2bfdb8fc1d744f9883b99316a8ef3d5"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A test website for Julian Gallo]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Julian's site]]></Value>
    </title>
  </Properties>
</Content>